---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="min-h-screen min-w-screen flex items-center justify-center">
		Cipher is a simple, secure and fast way to share secrets with your friends.
	</div>
</Layout>
